@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind utilities;

@theme {
  /* Typography */
  --font-display: "Inter", sans-serif; 
  /* Breakpoints */
  --breakpoint-3xl: 1920px;

  /* Custom Axial Colors */
  --color-axial-100: #E4E5ED;
  --color-axial-200: #AFB4DE;
  --color-axial-300: #7E86C4;
  --color-axial-400: #5B63A8;

  /* Custom Gray Colors */
  --color-gray-200: #E8E8E8;
  --color-gray-300: #CDCDCD;
  --color-gray-400: #9C9C9C;

  /* Custom easings (optional) */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer utilities {
    .text-title-1 {
    font-family: var(--font-display);
    font-size: 64px;
    font-weight: 700;
    }

    .text-title-2 {
    font-family: var(--font-display);
    font-size: 36px;
    font-weight: 700;
    }

    .text-heading-2 {
    font-family: var(--font-display);
    font-size: 24px;
    font-weight: 150;
    }

    .text-body-1 {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 400;
    }

    .text-body-2 {
    font-family: var(--font-display);
    font-size: 16px;
    font-weight: 400;
    }
}